@font-face {
  font-family: SourceSansPro;
  src: url(SourceSansPro-Regular.ttf);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: rgb(114, 3, 124);
  text-decoration: none;
}


body {
  position: relative;
  width: 19.5cm;
  /* height: 60.7cm;  */
  /* margin: 0 auto;  */
  color: #555555;
  background: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-family: SourceSansPro;
}

header {
  width: 720px;
  /* padding: 5px 5px 5px 5px; */
  margin-bottom: 2px;
  border-bottom: 1px solid #AAAAAA;
}


#logo {

  float: left;
  /* margin: 0  0 0 0; */
}

#logo img {
  height: 70px;
}


#company {
  float: center;
  text-align: center;
  width: 450px;
  margin: 0px  0px 0px 120px;
}
.cufe {
  border-style: solid;
  border-bottom: 0px solid #AAAAAA;
  border-top: 0px solid #AAAAAA;
  border: 0px solid #AAAAAA;
  width: auto;
  float: center;
  font-size: 13px;
  margin: 160px  0px 0px 0px;
  border-left: 0px solid #AAAAAA;
}
#qr{
  border-style: solid;
  border-bottom: 0px solid #AAAAAA;
  border-top: 0px solid #AAAAAA;
  border: 0px solid #AAAAAA;
  width: auto;
  height: auto;
  float: right;
  margin: 0px  0px 0px 0px;
  /* padding-left: 10px; */
  border-left: 1px solid #AAAAAA;
}
#client1 {
  padding-left: 0px;
  border-left: 0px solid #0087C3;
  float: right;
}

#details {
  margin-bottom: 3px;
  width: 720px;
  padding: 0px 0px 0px 0px;
}
#info {
  margin-bottom: 3px;
  width: 720px;
  padding: 3px 0px 0px 0px;
}

#client {
  padding-left: 0px;
  font-size: 3px;
  border-left: 0px solid #0087C3;
  float: left;
}

#client .to {
  color: #777777;
}

h2.name {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
}
.direccion {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
}

#invoice {
  float: center;
  text-align: center;
}

#invoice h1 {
  color: #0087C3;
  font-size: 2.4em;
  line-height: 1em;
  font-weight: normal;
  margin: 0  0 10px 0;
}

#invoice .date {
  font-size: 1.1em;
  color: #777777;
}

div .client{
  border-style: solid;
  border-radius: 6px;
  border-bottom: 1px solid #AAAAAA;
  border-radius: 6px;
  border-top: 1px solid #AAAAAA;
  border: 1px solid #AAAAAA;
  margin: 0px 0px 0px 0px;
  width: 340px;
  height: 133px;
  float: left;
  padding: 5px 5px 5px 5px;
  border-left: 1px solid #AAAAAA;

}
div .fact{
  border-style: solid;
  border-radius: 6px;
  border-bottom: 1px solid #AAAAAA;
  border-top: 1px solid #AAAAAA;
  border: 1px solid #AAAAAA;
  margin: 0px 0px 0px 0px;
  width: 340px;
  height: 133px;
  float: right;
  font-size: 14px;
  /* padding-left: 15px; */
  padding: 5px 5px 5px 5px;
  border-left: 1px solid #AAAAAA;
}
div .cabe{
  border-style: solid;
  border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0px 0px;
  -webkit-border-radius: 6px 6px 0px 0px;
  border-bottom: 1px solid #AAAAAA;
  border-top: 1px solid #AAAAAA;
  border: 1px solid #AAAAAA;
  width: 720px;
  height: 20px;
  /* margin: 5px 0px 0px 0px; */
  /* float: left;s */
  /* padding-left: 10px; */
  border-left: 1px solid #AAAAAA;
}
div .ref{
  border-style: solid;
  border-bottom: 0px solid #AAAAAA;
  border-top: 0px solid #AAAAAA;
  border: 0px solid #AAAAAA;
  width: 60px;
  height: 20px;
  float: left;
  text-align: center;
  padding-left: 0px;
  border-right: 1px solid #AAAAAA;
}
div .descr {
  border-style: solid;
  border-bottom: 0px solid #AAAAAA;
  border-top: 0px solid #AAAAAA;
  border: 0px solid #AAAAAA;
  width: 280px;
  height: 20px;
  float: left;
  padding-left: 3px;;
  text-align: center;
  border-left: 0px solid #AAAAAA;
}
div .mo {
  border-style: solid;
  border-bottom: 0px solid #AAAAAA;
  border-top: 0px solid #AAAAAA;
  border: 0px solid #AAAAAA;
  width: 60px;
  height: 20px;
  float:left;
  text-align: center;
  border-left: 1px solid #AAAAAA;
}
div .cant {
  border-style: solid;
  border-bottom: 0px solid #AAAAAA;
  border-top: 0px solid #AAAAAA;
  border: 0px solid #AAAAAA;
  width: 65px;
  height: 20px;
  float:left;
  text-align: center;
  border-left: 1px solid #AAAAAA;
}
div .precuni {
  border-style: solid;
  border-bottom: 0px solid #AAAAAA;
  border-top: 0px solid #AAAAAA;
  border: 0px solid #AAAAAA;
  width: 70px;
  height: 20px;
  float:left;
  text-align: center;
  border-left: 1px solid #AAAAAA;
}
div .iva {
  border-style: solid;
  border-bottom: 0px solid #AAAAAA;
  border-top: 0px solid #AAAAAA;
  border: 0px solid #AAAAAA;
  width: 50px;
  height: 20px;
  float:left;
  text-align: center;
  border-left: 1px solid #AAAAAA;
}
div .dcto {
  border-style: solid;
  border-bottom: 0px solid #AAAAAA;
  border-top: 0px solid #AAAAAA;
  border: 0px solid #AAAAAA;
  width: 50px;
  height: 20px;
  float:left;
  text-align: center;
  border-left: 1px solid #AAAAAA;
}
div .tot {
  border-style: solid;
  border-bottom: 0px solid #AAAAAA;
  border-top: 0px solid #AAAAAA;
  border: 0px solid #AAAAAA;
  width: 80px;
  height: 20px;
  float:left;
  text-align: center;
  border-left: 1px solid #AAAAAA;
}
div .cont{
  border-style: solid;
  border-radius: 0px 0px 6px 6px;
  -moz-border-radius: 0px 0px 6px 6px;
  -webkit-border-radius: 0px 0px 6px 6px;
  border-bottom: 0px solid #AAAAAA;
  border-top: 1px solid #AAAAAA;
  border: 1px solid #AAAAAA;
  width: 720px;
  height: 235px;
  margin: 0px 0px 5px 0px;
  /* float: left;s */
  /* padding-left: 10px; */
  border-left: 1px solid #AAAAAA;
}
div .contref{
  border-style: solid;
  border-bottom: 0px solid #AAAAAA;
  border-top: 0px solid #AAAAAA;
  border: 0px solid #AAAAAA;
  width: 60px;
  height: 235px;
  float: left;
  text-align: center;
  font-size: 12px;
  padding-left: 0px;
  border-right: 1px solid #AAAAAA;
}
div .contdescr {
  border-style: solid;
  border-bottom: 0px solid #AAAAAA;
  border-top: 0px solid #AAAAAA;
  border: 0px solid #AAAAAA;
  width: 280px;
  height: 235px;
  float: left;
  font-size: 10px;
  text-align: left;
  padding-left: 3px;;
  border-left: 0px solid #AAAAAA;
}
div .contmo {
  border-style: solid;
  border-bottom: 0px solid #AAAAAA;
  border-top: 0px solid #AAAAAA;
  border: 0px solid #AAAAAA;
  width: 60px;
  height: 235px;
  float:left;
  font-size: 12px;
  text-align: center;
  border-left: 1px solid #AAAAAA;
}
div .contcant {
  border-style: solid;
  border-bottom: 0px solid #AAAAAA;
  border-top: 0px solid #AAAAAA;
  border: 0px solid #AAAAAA;
  width: 65px;
  height: 235px;
  float:left;
  font-size: 12px;
  text-align: center;
  border-left: 1px solid #AAAAAA;
}
div .contprecuni {
  border-style: solid;
  border-bottom: 0px solid #AAAAAA;
  border-top: 0px solid #AAAAAA;
  border: 0px solid #AAAAAA;
  width: 70px;
  height: 235px;
  float:left;
  font-size: 12px;
  text-align: center;
  border-left: 1px solid #AAAAAA;
}
div .contiva {
  border-style: solid;
  border-bottom: 0px solid #AAAAAA;
  border-top: 0px solid #AAAAAA;
  border: 0px solid #AAAAAA;
  width: 50px;
  height: 235px;
  float:left;
  font-size: 12px;
  text-align: center;
  border-left: 1px solid #AAAAAA;
}
div .contdcto {
  border-style: solid;
  border-bottom: 0px solid #AAAAAA;
  border-top: 0px solid #AAAAAA;
  border: 0px solid #AAAAAA;
  width: 50px;
  height: 235px;
  float:left;
  font-size: 12px;
  text-align: center;
  border-left: 1px solid #AAAAAA;
}
div .conttot {
  border-style: solid;
  border-bottom: 0px solid #AAAAAA;
  border-top: 0px solid #AAAAAA;
  border: 0px solid #AAAAAA;
  width: 80px;
  height: 235px;
  float:left;
  font-size: 12px;
  text-align: center;
  border-left: 1px solid #AAAAAA;
}
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#first, #second{
 box-sizing: border-box;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
}

#wrapper {
   width: 720px;
   border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
   border: 1px solid #AAAAAA;
}
#first {
   /* border: 1px solid red; */
   float:left;
   width:450px;
   font-size: 12px;
   padding: 4px;
   padding-right: 0px;
}
#second {
   float:left;
   width:269px;
}

div .subto{
  border-style: solid;
  border: 0px solid #AAAAAA;
  width: 130px;
  height: 19px;
  float: left;
  margin: 0px 0px 0px 0px;
  border-right: 1px solid #AAAAAA;
  border-left: 1px solid #AAAAAA;
}
div .totsubto{
  border-style: solid;
  border: 0px solid #AAAAAA;
  width: 150px;
  height: 17px;
  /* float: left; */
  margin: 0px 0px 0px 130px;
  padding-left: 1px;
  border-right: 0px solid #AAAAAA;
}
div .cargo{
  border-style: solid;
  border: 1px solid #AAAAAA;
  width: 130px;
  height: 17px;
  float: left;
  margin: 0px 0px 0px 0px;
  padding-left: 0px;
  border-left: 1px solid #AAAAAA;
  border-right: 1px solid #AAAAAA;
}
div .totcargo{
  border-style: solid;
  border: 1px solid #AAAAAA;
  width: 138px;
  height: 17px;
  margin: 0px 0px 0px 130px;
  padding-left: 0px;
  border-left: 0px solid #AAAAAA;
  border-right: 0px solid #AAAAAA;
}
div .descu{
  border-style: solid;
  border: 0px solid #AAAAAA;
  width: 130px;
  height: 17px;
  float: left;
  margin: 0px 0px 0px 0px;
  border-left: 1px solid #AAAAAA;
  border-right: 1px solid #AAAAAA;
}
div .totdesc{
  border-style: solid;
  border: 0px solid #AAAAAA;
  width: 138px;
  height: 17px;
  margin: 0px 0px 0px 130px;
  padding-left: 0px;
  border-left: 0px solid #AAAAAA;
  border-right: 0px solid #AAAAAA;
}
div .tiva{
  border-style: solid;
  border: 1px solid #AAAAAA;
  width: 130px;
  height: 17px;
  float: left;
  margin: 0px 0px 0px 0px;
  border-right: 1px solid #AAAAAA;
  border-left: 1px solid #AAAAAA;
}
div .totiva{
  border-style: solid;
  border: 1px solid #AAAAAA;
  width: 138px;
  height: 17px;
  /* float: left; */
  margin: 0px 0px 0px 130px;
  border-left: 0px solid #AAAAAA;
  border-right: 0px solid #AAAAAA;
}
div .totop{
  border-style: solid;
  border: 0px solid #AAAAAA;
  width: 130px;
  height: 17px;
  float: left;
  margin: 0px 0px 0px 0px;
  border-right: 1px solid #AAAAAA;
  border-left: 1px solid #AAAAAA;
}
div .tottotop{
  border-style: solid;
  border: 0px solid #AAAAAA;
  width: 138px;
  height: 17px;
  /* float: left; */
  margin: 0px 0px 0px 130px;
  border-left: 0px solid #AAAAAA;
  border-right: 0px solid #AAAAAA;
}
div .retiv{
  border-style: solid;
  border: 1px solid #AAAAAA;
  width: 130px;
  height: 17px;
  float: left;
  margin: 0px 0px 0px 0px;
  border-right: 1px solid #AAAAAA;
  border-left: 1px solid #AAAAAA;
}
div .tottretiv{
  border-style: solid;
  border: 1px solid #AAAAAA;
  width: 138px;
  height: 17px;
  /* float: left; */
  margin: 0px 0px 0px 130px;
  border-left: 0px solid #AAAAAA;
  border-right: 0px solid #AAAAAA;
}
div .retic{
  border-style: solid;
  border: 0px solid #AAAAAA;
  width: 130px;
  height: 17px;
  float: left;
  margin: 0px 0px 0px 0px;
  border-right: 1px solid #AAAAAA;
  border-left: 1px solid #AAAAAA;
}
div .tottretic{
  border-style: solid;
  border: 0px solid #AAAAAA;
  width: 138px;
  height: 17px;
  /* float: left; */
  margin: 0px 0px 0px 130px;
  border-left: 0px solid #AAAAAA;
  border-right: 0px solid #AAAAAA;
}
div .retfu{
  border-style: solid;
  border: 1px solid #AAAAAA;
  width: 130px;
  height: 17px;
  float: left;
  margin: 0px 0px 0px 0px;
  border-right: 1px solid #AAAAAA;
  border-left: 1px solid #AAAAAA;
}
div .totretfu{
  border-style: solid;
  border: 1px solid #AAAAAA;
  width: 138px;
  height: 17px;
  /* float: left; */
  margin: 0px 0px 0px 130px;
  border-left: 0px solid #AAAAAA;
  border-right: 0px solid #AAAAAA;
}
div .netfac{
  border-style: solid;
  border: 0px solid #AAAAAA;
  width: 130px;
  height: 17px;
  float: left;
  margin: 0px 0px 0px 0px;
  border-right: 1px solid #AAAAAA;
  border-left: 1px solid #AAAAAA;
}
div .totnetfac{
  border-style: solid;
  border: 0px solid #AAAAAA;
  width: 138px;
  height: 17px;
  /* float: left; */
  margin: 0px 0px 0px 130px;
  border-left: 0px solid #AAAAAA;
  border-right: 0px solid #AAAAAA;
}
div .imp{
  border-style: solid;
  border-radius: 6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
-webkit-border-radius: 6px 6px 6px 6px;
  border-bottom: 1px solid #AAAAAA;
  border-top: 1px solid #AAAAAA;
  border: 1px solid #AAAAAA;
  width: 720px;
  height: auto;
  margin: 3px 0px 3px 0px;
  /* float: left;s */
  /* padding-left: 10px; */
  border-left: 1px solid #AAAAAA;
}
div .otroinfo{
  border-style: solid;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-bottom: 1px solid #AAAAAA;
  border-top: 1px solid #AAAAAA;
  border: 1px solid #AAAAAA;
  width: 715px;
  height: auto;
  margin: 0px 0px 0px 0px;
  /* float: left;s */
  padding: 3px;
  border-left: 1px solid #AAAAAA;
}
footer {
  color: #3b3b3b;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  margin: 5px 0px 0px 0px;
  /* border-top: 1px solid #AAAAAA; */
  font-size: 12px;
  text-align: left;
}
#foo {
  color: #3b3b3b;
  width: 100%;
  height: auto;
  position: absolute;
  font-size: 14px;
  text-align: right;
}
div .tab{
  margin: 5px 0px 105px 0px;
}
table {
  width: 350px;
  border-spacing: 0;
  /* margin-bottom: 5px; */
  border: #b2b2b2 1px solid;
  box-sizing: border-box;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;

}
table th {
  white-space: nowrap;
  font-weight: normal;
  font-size: 13px;
  border: #b2b2b2 1px solid;
}

table td {
  text-align: left;
  font-size: 11px;
  border: #b2b2b2 1px solid;
}

#observacion, #impuestos{
 box-sizing: border-box;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
}

#informacion {
  width: 720px;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  margin: 3px 0px 3px 0px;
  border: 1px solid #AAAAAA;
}
#observacion {
   /* border: 1px solid red; */
   float:left;
   width:350px;
   padding: 5px;

   font-size: 12px;
}
#doc_rela {
   float: right;
   padding: 15px 0px 0px 0px;
   padding-right: 5px;
   margin: 0px 0px 0px 0px;
   width:350px;
}
